<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684270020914-7521ng9rrm7a5l0nmmmglnvqqqt9ka33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684270020914-7521ng9rrm7a5l0nmmmglnvqqqt9ka33</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>684270020914-pt1tbtmpdu0rso9n3m7h4uira9tvfb6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARSTyY2biagebqYHtj6duxmPFwEIFHumM</string>
	<key>GCM_SENDER_ID</key>
	<string>684270020914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nourinho.restaurant</string>
	<key>PROJECT_ID</key>
	<string>foodhub-fa528</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhub-fa528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684270020914:ios:ddd6b64f7e0cce4c5c8f2b</string>
</dict>
</plist>